name: Job Finder

on:
  schedule:
    - cron: '30 3 * * *'   # 9:00 AM IST
    - cron: '30 8 * * *'   # 2:00 PM IST
    - cron: '30 14 * * *'  # 8:00 PM IST
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install libraries
        run: pip install requests beautifulsoup4

      - name: Run script
        run: python jobs.py

      - name: Upload CSV
        uses: actions/upload-artifact@v4
        with:
          name: job-results
          path: jobs.csv